@font-face{

  font-family: 'PF Bulletin Sans Pro';
  src: url('../fonts/pfbulletinsanspro-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@font-face{

  font-family: 'PF Bulletin Sans Pro';
  src: url('../fonts/pfbulletinsanspro-italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;

}

@font-face{

  font-family: 'PF Bulletin Sans Pro';
  src: url('../fonts/pfbulletinsanspro-bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;

}

@font-face{

  font-family: 'PF Bulletin Sans Pro';
  src: url('../fonts/pfbulletinsanspro-boldital.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;

}

@font-face{
  font-family: 'IntroInline';
  src: url('../fonts/IntroInline/IntroInline.eot');
  src: url('../fonts/IntroInline/IntroInline.eot?iefix') format('eot'),
  url('../fonts/IntroInline/IntroInline.woff') format('woff'),
  url('../fonts/IntroInline/IntroInline.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'IntroRegular';
  src: url('../fonts/IntroRegular/IntroRegular.eot');
  src: url('../fonts/IntroRegular/IntroRegular.eot?iefix') format('eot'),
  url('../fonts/IntroRegular/IntroRegular.woff') format('woff'),
  url('../fonts/IntroRegular/IntroRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}